**/__pycache__
sc_gallery
sc_infos
sc_thumb_images
CivitaiShortCut.json
CivitaiShortCutBackupUrl.json
CivitaiShortCutClassification.json
CivitaiShortCutRecipeCollection.json
CivitaiShortCutSetting.json
